node_modules
.env
.cache
docker/data
dist
.DS_Store
k8s/values.yml
k8s/docker-config.json
coverage
docker-compose.override.yml
docker-compose.override.yaml
*.log
.idea
/src/infrastructure/mailer/templates/**/*.html
/src/infrastructure/mailer/templates/**/*.txt
.history
.vscode
.venv